{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see \Drupal\Core\Theme\ThemePreprocess::preprocessPage()
 * @see html.html.twig
 */
#}
<div class="site-wrapper">

  <header role="banner">
    {{ include('aardvarck:logo', { variant: 'vertical', title: 'Aardvarck', url: '/' }, with_context = false) }}
    {{ page.header }}
  </header>

  {{ page.highlighted }}
  {{ page.breadcrumb }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>

  </main>

  <footer role="contentinfo">
    {{ page.footer }}
  </footer>

</div>
