{#
  Component: Logo
  -----------------------------------
#}

{% set base_class = 'logo' %}
{% set classes = [
  base_class,
  base_class ~ '--' ~ variant,
  url ? base_class ~ '--has-link',
] %}
{% set logo_path = '/' ~ componentMetadata.path ~ '/assets/logo-' ~ variant ~ '.svg' %}

<div {{ attributes.addClass(classes) }}>
  {% if url %}
    <a href="{{ url }}" title="{{ title }}">
      <img src="{{ logo_path }}" alt="{{ title }}">
    </a>
  {% else %}
    <img src="{{ logo_path }}" alt="{{ title }}">
  {% endif %}
</div>

