{#
/**
 * @file
 * Theme override to display a single page.
 *
 * @see \Drupal\Core\Theme\ThemePreprocess::preprocessPage()
 * @see html.html.twig
 */
#}
<div class="site-wrapper">

  {% if is_front %}
    {% set header_content %}
      <h1>Aardvarck – grafisch werk met een neus voor detail.</h1>
      <div class="home-visual">
        <img src="{{ base_path ~ directory ~ '/assets/home-visual.png' }}" alt="{{ 'Home visual' }}" />
      </div>
    {% endset %}
  {% endif %}

  {% embed 'aardvarck:site-header' with {
    variant: is_front ? 'home' : default,
    logo_url: drupal_url('<front>'),
    main_navigation: page.header.aardvarck_mainnavigation,
    language_switcher: page.header.aardvarck_languageswitcher,
    content: header_content ? header_content : null
    } only %}
  {% endembed %}

  {{ page.highlighted }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {# Main content #}
    {% if is_node or is_taxonomy_page %}
      {{ page.content }}
    {% else %}
      {% set page_content %}
        <div class="layout layout--cols-1">
          <div class="layout__region layout__region--col-1">
            <h1>{{ page['#title'] }}</h1>
            {{ page.content }}
          </div>
        </div>
      {% endset %}
      {% embed 'aardvarck:section' with {
        variant: 'grey',
        attributes: create_attribute({'class': ['section--site-content']}),
        content: page_content
        } only %}
      {% endembed %}
    {% endif %}

  </main>

  {% embed 'aardvarck:site-footer' with {
    breadcrumb: page.breadcrumb,
    contact_info: page.footer.aardvarck_contact_info,
    footer_navigation: page.footer.aardvarck_footernavigation
    } only %}
  {% endembed %}

</div>
